@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 11% 15%;
    --foreground: 0 0% 98%;
    --card: 206 11% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 206 11% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 171 70% 48%;
    --primary-foreground: 206 11% 15%;
    --secondary: 206 11% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 206 11% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 204 100% 66%;
    --accent-foreground: 206 11% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 11% 25%;
    --input: 206 11% 25%;
    --ring: 204 100% 66%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 206 11% 15%;
    --foreground: 0 0% 98%;
    --card: 206 11% 18%;
    --card-foreground: 0 0% 98%;
    --popover: 206 11% 15%;
    --popover-foreground: 0 0% 98%;
    --primary: 171 70% 48%;
    --primary-foreground: 206 11% 15%;
    --secondary: 206 11% 25%;
    --secondary-foreground: 0 0% 98%;
    --muted: 206 11% 25%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 204 100% 66%;
    --accent-foreground: 206 11% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 206 11% 25%;
    --input: 206 11% 25%;
    --ring: 204 100% 66%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
